<!DOCTYPE html>
<html lang="en">
<head>
    <title>Kudos - As A Service</title>
    <meta charset="UTF-8">
    <meta property="og:title" content="{{ message }}">
    <meta property="og:description" content="Kudos As A Service">
    <meta property="og:image" content="https://kaas.ws/apple-touch-icon.png">
    <meta property="og:url" content="https://kaas.ws{{ path }}">
    <meta name="abstract" content="{{ message }}">
    <meta name="url" content="https://kaas.ws{{ path }}">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "name": "Kudos as a Service",
        "item": "https://kaas.ws"
      },{
        "@type": "ListItem",
        "position": 2,
        "name": "{{message}}",
        "item": "https://kaas.ws/{{key}}"
      }{{#name}},{
        "@type": "ListItem",
        "position": 3,
        "name": "{{message}}",
        "item": "https://kaas.ws/{{key}}/{{name}}"
      }{{/name}}{{#from}},{
        "@type": "ListItem",
        "position": 4,
        "name": "from {{from}}",
        "item": "https://kaas.ws/{{key}}/{{name}}/{{from}}"
      }{{/from}}]
    }
    </script>
    <style>
    blockquote {
      background: #eee;
      margin: 1.5em auto;
      padding: 0.5em;
      font-size: 6em;
      font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
      font-weight: bold;
      width:78%;
    }
    blockquote p {
      margin: 0;
    }
    blockquote footer {
      text-align: right;
      font-size: 0.3em;
    }
    blockquote footer:before {
      content: "― ";
    }
    footer {
      text-align: center;
    }
    footer a {
      color: #767676;
      font-family: sans-serif;
      text-decoration: none;
    }
    </style>
</head>
<body>
    <blockquote>
      <p>{{message}}</p>
{{#from}}      <footer>{{from}}</footer>
{{/from}}      <em>
        <a href="https://twitter.com/intent/tweet?hashtags=kaas&amp;text={{message}}&amp;url=https%3A%2F%2Fkaas.ws{{& path }}" target="_blank"><svg style="width:24px;height:24px" viewBox="0 0 24 24"><path fill="currentColor" d="M22.46,6C21.69,6.35 20.86,6.58 20,6.69C20.88,6.16 21.56,5.32 21.88,4.31C21.05,4.81 20.13,5.16 19.16,5.36C18.37,4.5 17.26,4 16,4C13.65,4 11.73,5.92 11.73,8.29C11.73,8.63 11.77,8.96 11.84,9.27C8.28,9.09 5.11,7.38 3,4.79C2.63,5.42 2.42,6.16 2.42,6.94C2.42,8.43 3.17,9.75 4.33,10.5C3.62,10.5 2.96,10.3 2.38,10C2.38,10 2.38,10 2.38,10.03C2.38,12.11 3.86,13.85 5.82,14.24C5.46,14.34 5.08,14.39 4.69,14.39C4.42,14.39 4.15,14.36 3.89,14.31C4.43,16 6,17.26 7.89,17.29C6.43,18.45 4.58,19.13 2.56,19.13C2.22,19.13 1.88,19.11 1.54,19.07C3.44,20.29 5.7,21 8.12,21C16,21 20.33,14.46 20.33,8.79C20.33,8.6 20.33,8.42 20.32,8.23C21.16,7.63 21.88,6.87 22.46,6Z" /></svg></a>
        <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fkaas.ws{{& path }}" target="_blank"><svg style="width:24px;height:24px" viewBox="0 0 24 24"><path fill="currentColor" d="M12 2.04C6.5 2.04 2 6.53 2 12.06C2 17.06 5.66 21.21 10.44 21.96V14.96H7.9V12.06H10.44V9.85C10.44 7.34 11.93 5.96 14.22 5.96C15.31 5.96 16.45 6.15 16.45 6.15V8.62H15.19C13.95 8.62 13.56 9.39 13.56 10.18V12.06H16.34L15.89 14.96H13.56V21.96A10 10 0 0 0 22 12.06C22 6.53 17.5 2.04 12 2.04Z" /></svg></a>
        <a href="https://www.linkedin.com/shareArticle?url=https%3A%2F%2Fkaas.ws{{& path }}" target="_blank"><svg style="width:24px;height:24px" viewBox="0 0 24 24"><path fill="currentColor" d="M19 3A2 2 0 0 1 21 5V19A2 2 0 0 1 19 21H5A2 2 0 0 1 3 19V5A2 2 0 0 1 5 3H19M18.5 18.5V13.2A3.26 3.26 0 0 0 15.24 9.94C14.39 9.94 13.4 10.46 12.92 11.24V10.13H10.13V18.5H12.92V13.57C12.92 12.8 13.54 12.17 14.31 12.17A1.4 1.4 0 0 1 15.71 13.57V18.5H18.5M6.88 8.56A1.68 1.68 0 0 0 8.56 6.88C8.56 5.95 7.81 5.19 6.88 5.19A1.69 1.69 0 0 0 5.19 6.88C5.19 7.81 5.95 8.56 6.88 8.56M8.27 18.5V10.13H5.5V18.5H8.27Z" /></svg></a>
        <a href="mailto:example@example.com?subject={{& message}}&amp;body={{& message }}%0A%0Ahttps%3A%2F%2Fkaas.ws{{& path }}"><svg style="width:24px;height:24px" viewBox="0 0 24 24"><path fill="currentColor" d="M12,15C12.81,15 13.5,14.7 14.11,14.11C14.7,13.5 15,12.81 15,12C15,11.19 14.7,10.5 14.11,9.89C13.5,9.3 12.81,9 12,9C11.19,9 10.5,9.3 9.89,9.89C9.3,10.5 9,11.19 9,12C9,12.81 9.3,13.5 9.89,14.11C10.5,14.7 11.19,15 12,15M12,2C14.75,2 17.1,3 19.05,4.95C21,6.9 22,9.25 22,12V13.45C22,14.45 21.65,15.3 21,16C20.3,16.67 19.5,17 18.5,17C17.3,17 16.31,16.5 15.56,15.5C14.56,16.5 13.38,17 12,17C10.63,17 9.45,16.5 8.46,15.54C7.5,14.55 7,13.38 7,12C7,10.63 7.5,9.45 8.46,8.46C9.45,7.5 10.63,7 12,7C13.38,7 14.55,7.5 15.54,8.46C16.5,9.45 17,10.63 17,12V13.45C17,13.86 17.16,14.22 17.46,14.53C17.76,14.84 18.11,15 18.5,15C18.92,15 19.27,14.84 19.57,14.53C19.87,14.22 20,13.86 20,13.45V12C20,9.81 19.23,7.93 17.65,6.35C16.07,4.77 14.19,4 12,4C9.81,4 7.93,4.77 6.35,6.35C4.77,7.93 4,9.81 4,12C4,14.19 4.77,16.07 6.35,17.65C7.93,19.23 9.81,20 12,20H17V22H12C9.25,22 6.9,21 4.95,19.05C3,17.1 2,14.75 2,12C2,9.25 3,6.9 4.95,4.95C6.9,3 9.25,2 12,2Z" /></svg></a>
      </em>
    </blockquote>
    <footer><a href="https://kaas.ws/best/Kudos%20As%20A%20Service">Made with ❤!</a></footer>
</body>
</html>
