<!DOCTYPE html>
<html lang="en">
<head>
    <title>Kudos - As A Service</title>
    <meta charset="UTF-8">
    <meta property="og:title" content="Kudos As A Service">
    <meta property="og:image" content="https://kaas.ws/apple-touch-icon.png">
    <meta property="og:url" content="https://kaas.ws/">
    <meta name="abstract" content="Kudos">
    <meta name="url" content="https://kaas.ws/">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "name": "Kudos as a Service",
        "item": "https://kaas.ws"
      }]
    }
    </script>
    <style>
    body {
      font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
    }
    td {
      padding: 0.3em;
    }
    footer {
      text-align: center;
    }
    footer a {
      color: #767676;
      font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
      text-decoration: none;
    }
    </style>
</head>
<body>
    <h1>Kudos - As A Service</h1>
    <table>
     <tr>
       <th scope="row">URL</th>
       <th scope="row">Message (example links to {{name}} from {{fromName}})</th>
     </tr>
{{#links}}     <tr>
       <td>{{{this.link}}}</td>
       <td>{{{this.description}}}</td>
     </tr>
{{/links}}    </table>
    <footer><a href="https://kaas.ws/best/Kudos%20As%20A%20Service">Made with ❤.</a></footer>
</body>
</html>
